body {
    background-color: #6abfe8a1;
}

.wholeWeather {
    border-style: none;
    margin: 4em;
    position: relative;
    z-index: -1;
    display: table;
    margin: 0;
    max-width: none;
    width: 100%;
    box-shadow: 0 0px 26px 0 gray;
    background-color: #9ed8f4;
}

.pre {
    z-index: -1;
    position: relative;
}

.singleWeather {
    border-style: none;
    height: 82vh;
    width: 100%;
    background-color: #399bca;
    position: relative;
    right: 1em;
}

.image {
    height: 56vh;
}

.text {
    color: azure;
    position: absolute;
    bottom: 4em;
    left: 6em;
}

.singleWeatherImg {
    border-style: none;
    /* background-image: url(""); */
    width: 100%;
    height: 82vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 1em;
}

.singleWeatherImg img {
    width: 100%;
    height: 82vh;
}

hr {
    width: 71%;
    border-color: black;
}

.search {}

.search form {}

.search form input {}

.countriesList {
    position: relative;
    left: 1em;
    top: 4em;
}

.weatherListDetails {
    position: relative;
    left: 1em;
    top: 8em;
}

.countriesList li {
    list-style: none;
}

.weatherListDetails li {
    list-style: none;
}